/* Estilos gerais */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}



.titulo-avisos h1{
  color: red;
  text-align: center;
  padding-top: 40px;
  font-size: 3rem;
}

/* Bloco Principal */
.conteudo {
  
  display: flex;
  justify-content: center;
  gap: 10px;
}

.conteudo__item {

  margin: 10px 50px;
  text-align: center;
}


.conteudo__imagem {
  height: 300px;
  width: 100%;
  border-radius: 10px;
}

.conteudo__titulo-menor{
  color: red;
}
.conteudo__titulo{
  color: red;
}
.conteudo__botao-menor, .conteudo__botao{
  background-color: red;
  border-radius: 10px;
  padding: 10px;
  color: white;
}
/* Bloco Secundário */
.conteudos-menores {
  display: flex;
  justify-content: center;
  margin: 20px 20px 100px 20px;
  width: 100%;
  
  flex-wrap: wrap; /* Permite que os itens quebrem para a próxima linha em telas pequenas */
}

.lado1,
.lado2 {
  margin: 0 50px;
  display: flex;
  flex-direction: column; 
  gap: 50px; 
}

.conteudo__item-menor-1,
.conteudo__item-menor-2 {
  text-align: center;
  margin-bottom: 20px;

}

.conteudo__imagem-menor {
  max-width: 100%;
  height: auto;
  max-height: 150px; /* Ajuste a altura máxima conforme necessário */
}
.bloco-principal{
display: flex;
justify-content: center;
align-items:center;
flex-wrap: wrap;
margin-bottom: 50px;
}


