/* Estilos gerais */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  margin-top: 20px;
}

/* Bloco Principal */
.conteudo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
}

.conteudo__item {
  flex: 1;
  margin: 0 10px;
  text-align: center;
}

.conteudo__imagem {
  max-width: 100%;
  height: auto;
  max-height: 200px; /* Ajuste a altura máxima conforme necessário */
}

/* Bloco Secundário */
.conteudos-menores {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  flex-wrap: wrap; /* Permite que os itens quebrem para a próxima linha em telas pequenas */
}

.lado1,
.lado2 {
  flex: 1;
  margin: 0 10px;
  display: flex;
  flex-direction: column; /* Empilha os itens verticalmente em vez de lado a lado em telas menores */
}

.conteudo__item-menor-1,
.conteudo__item-menor-2 {
  text-align: center;
  margin-bottom: 20px;
}

.conteudo__imagem-menor {
  max-width: 100%;
  height: auto;
  max-height: 150px; /* Ajuste a altura máxima conforme necessário */
}

/* Estilos para telas menores (responsivo) */
@media (max-width: 768px) {
  .conteudo {
      flex-direction: column;
  }

  .conteudo__item {
      margin: 10px 0;
  }

  .conteudos-menores {
      flex-direction: column;
  }

  .lado1,
  .lado2 {
      margin: 10px 0;
  }
}
