    *{
    margin: 0;
    padding: 0;
    }

    .main-pub{
        background-color: #f3f3f3;
    }
    
.titulo-material h1{
    color: red;
    font-size: 2.5rem;
    text-align: center;
    padding-top: 50px;

}

.content-pub {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0px 0px 60px 0px;
}

    .card-pub {
        width: 350px;
        border-radius: 10px;
        background-color: #fff;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        margin: 20px;
        overflow: hidden;
        display: flex; 
        color: #ff0303;
    }
    
    .card-pub img {
        width: 150px;
        height: 150px;
        height: auto;
        display: block;
    }
    
    .card-content {
        padding: 20px;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }
    
    .card-title {
        font-size: 1.3rem;
        margin-bottom: 10px;
    }

    .card-data{
        font-size: 0.8rem;
       color: black; 
    }

    .btn-pub {
        display: inline-block;
        padding: 10px 20px;
        background-color: #ff0000;
        color: #fff;
        border-radius: 5px;
        text-decoration: none;
    }
    
    .card-pub:hover {
        transform: translateY(-5px);
        transition: transform 0.3s ease;
    }
    
    .btn-pub:hover {
        background-color: #cc0000; /* Cor mais escura quando hover */
        transition: background-color 0.3s ease;
    }
    
    .barra {
        width: 90%;
        margin: 0 auto;
        border-radius: 20px;
        padding: 50px;
        background-image: linear-gradient(to right, #df1717,#af1d1d, #a32525);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 50px;
    }
    .barra p {
        font-size: 1rem;
        color: rgb(255, 255, 255);    
    }

    .barra img{
        width: 75px;
        height: 75px;
        border-radius: 20px;
    }

    .app {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        align-content: center;
    }

    .barra a{
        color:white;
        text-decoration: none;
    }


    