@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

body {
	background-color: #eee;
}

html, body {
  overflow-x: hidden;
 }

a{
  text-decoration: none;
}

:root {
  --bgcolor: #EBEBEB;
  --vermelhoescuro:#950303 ;
  --vermelhoclaro:#c91212;;
}

header {
    background-color: #ae2424;
    box-shadow: 0px 3px 10px #464646;
}
.icon{
  width: 20px;
}
.nav-bar {
      padding: 20px 0px 20px 0px;
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-direction: row;
      align-content: center;
    }


.logo {
    display: flex;
    align-items: center;
    gap: 15px;
}

.logo img {
  width: 85px;
 }

.logo h1 {
  font-size: 2rem;
  margin: 0;
  color: #FFFFFF;
  
 }

.nav-list {
    display: flex;
    align-items: center;
    color: white;
    font-size: 1.3rem;
}

.nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    font-size: 1.2rem;
}

.nav-item {
    margin: 0 15px;
}

.nav-link {
    text-decoration: none;
    font-size: 1rem;
    color: #fff;
    font-weight: 400;
}

.login-button button {
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #0187a7;
}

.login-button button a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 1.1rem;
}

.mobile-menu-icon {
    display: none;
  
}

.mobile-menu {
    display: none;
}

main{
  background-color: var(--bgcolor);
}

  
/* =====================================*/
/* Estilos para a seção de depoimentos */
/* =====================================*/
.depoimentos {
    background-color: #edebeb; 
    padding: 20px;
    text-align: center;
  }
  
  .depoimentos__titulo {
    color: var(--vermelhoclaro); 
    font-size: 2.5rem;
    margin-top: 30px;
  }
    
  .depoimentos__cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    gap: 50px;
    flex-wrap: wrap;
    margin: 20px 0px 50px 0px;
  }

  .cards {
    background-color: rgb(255, 255, 255);
    padding: 33px;
    width: 380px;
    height: 600px;
    box-shadow: 10px 10px  rgb(255, 0, 0);
    display: flex;
    border-radius: 10% ;
    align-items: center;
    text-align: center;
    flex-direction: column;
    transition: 0.5s;  
}
.cards:hover{
    transform: scale(1.05);
    color: #FFFFFF;
}

  .cards h3 {
    color: var(--vermelhoclaro); 
  }
  .cards p {
    color: #000000; 
    font-size: 1rem;
  }

.footer-card{
  margin-top: 50px;
}
  
.mural {
    background-color: #EBEBEB; 
    text-align: center;
  }
  
  .mural__titulo {
    color: var(--vermelhoclaro); 
    font-size: 2.5rem;
  }
  
  .mural__imagens {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: repeat(2, 300px); 
    gap: 10px; 
    margin-top: 20px;
    margin-left: 300px;
    margin-right: 300px;
  }
  
  .mural__imagens img {
    width: 100%;
    height: 100%;
    object-fit: cover;  
  }



  footer{
    background-color: #c91b1b;
    padding: 50px 0;
    margin-top: 70px;
    
}
.container-footer{
    max-width: 1400px;
    padding: 0 4%;
    margin: auto;
}
.row-footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.footer-col{
    width: 25%;
    padding: 0 15px;
}
.footer-col img{
  width: 50px;
 
}
.footer-col h4{
    font-size: 22px;
    color: white;
   
    font-weight: 500;
    position: relative;
    text-transform: uppercase;
    margin: 0;
}
.container-logo{
  width: 300px;

}
.footer-col ul{
    list-style: none;
    padding: 0;
    margin-bottom: 50px;
    padding-left: 50px;
    width: 300px;
    
}
.footer-col ul li{
    margin: 10px 0;
}

.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: white;
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: #cecdcd;
    padding-left: 10px;
}


.footer-col .form-sub input{
    width: 100%;
    padding: 10px;
    font-size: 15px;
    outline: none;
    border: 1px solid white;
    color: rgb(255, 1, 1);
    background-color: #ffffff;
    border-radius: 10px;
}
.footer-col .form-sub input::placeholder{
    color: white;
}
.footer-col .form-sub button{
    width: 100%;
    margin-top: 10px;
    padding: 10px; 
    font-size: 17px;
    outline: none;
    border: none;
    cursor: pointer;
    color: #ff0000;
    border-radius: 3px;
    font-weight: bold;
    background-color: white;  
    border-radius: 10px;      
}


  @media screen and (min-width: 1025px) and (max-width: 1200px) {

    .logo img {
      width: 85px;
     }
    
     .logo h1 {
      font-size: 1.8rem;
      margin: 0;
     }
    
     .nav-bar {
      padding: 20px 0px 20px 0px;
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-direction: row;
      align-content: center;
    }

    .cards {
      width: 700px; 
      height: 350px;
      display: flex;
     }

    .depoimentos__cards {
      gap: 50px;
      margin: 20px 0px 50px 0px;
    }
    .depoimentos__titulo{
      margin-top: 50px;
    }

    .mural__imagens {
      margin: 70px 100px;
  }
  
  }
/*========================================*/
/*========================================*/ 






  @media screen and (min-width:769px) and (max-width: 1024px) {

/*========================================*/ 
/*==========TELA DE INICIO================*/ 

.logo img {
  width: 80px;
 }

 .logo h1 {
  font-size: 1.6rem;
  margin: 0;
 }

 .nav-bar {
  padding: 20px 0px 20px 0px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  align-content: center;
}
    .cards {
      width: 660px;
      height: 370px;
      display: flex;
  } 
    .depoimentos__cards{
      gap: 50px;
      margin-top: 20px;
    }
    .mural__imagens {
     
      margin: 20px 100px 0px 100px;
  }
     

  }


/*========================================*/
/*========================================*/




/*========================================*/
/*========================================*/
@media screen and (min-width: 481px) and (max-width: 768px){

  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
  .logo img {
    width: 70px;
   }
   .logo h1 {
    font-size: 1.5rem;
    margin: 0;
   }

  .nav-bar {
    padding: 10px 0px 10px 0px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    align-content: center;
}
.nav-item {
    display: none;
}
.login-button {
    display: none;
}
.mobile-menu-icon {
    display: block;
}
.mobile-menu-icon button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.mobile-menu ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 1rem;
    margin: 0;
    padding: 0;
    padding-bottom: 30px;
    color: #fff;
    background-color: #950303;
}
.mobile-menu .nav-item {
    display: block;
    padding-top: 1.2rem;
}
.mobile-menu .login-button {
    display: block;
    padding: 1rem 2rem;
}
.mobile-menu .login-button button {
    width: 100%;
}
.open {
    display: block;
}

  .cards {
      width: 600px; 
      height: 400px;
      display: flex;
      font-size: 1rem;
     }   

     .depoimentos__cards {
      gap: 30px;
      margin-top: 10px;
     }

     .depoimentos__titulo {
      font-size: 2rem;
     }

    .mural__imagens {
      margin: 20px 40px 0px 40px;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 150px);
     }
     .mural__titulo{
      font-size: 1.8rem;
     }
    }

/*========================================*/
/*========================================*/





/*========================================*/
/*========================================*/
@media screen and (max-width: 480px) {
 
  .footer-col{
    width: 100%;
}
  .logo img {
    width: 60px;
   }
   .logo h1 {
    font-size: 1.2rem;
    margin: 0;
   }

  .nav-bar {
    padding: 10px 10px 10px 10px;
}
.nav-item {
    display: none;
}
.login-button {
    display: none;
}
.mobile-menu-icon {
    display: block;
   
}
.mobile-menu-icon button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.mobile-menu ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 1rem;
    margin: 0;
    padding: 0;
    padding-bottom: 30px;
    color: #fff;
    background-color: #950303;
}
.mobile-menu .nav-item {
    display: block;
    padding-top: 1.2rem;
}
.mobile-menu .login-button {
    display: block;
    padding: 1rem 2rem;
}
.mobile-menu .login-button button {
    width: 100%;

}
.mobile-menu-icon {
  display: block;
  
}
.open {
    display: block;
}


  .depoimentos__cards {
    margin-top: 20px;
  }
  .depoimentos__titulo {
    font-size: 1.8rem;
    padding-top: 0;
    margin: 0;
  }

  .depoimentos__cards{
    gap: 30px;
  }

  .cards {
    width: 500px; 
    height: 480px;
    display: flex;
    font-size: 1rem;
   }

   .cards p {
   font-size: 0.8rem;
   }

   .cards h3 {
    font-size: 1.4rem;
   }

  .mural__imagens {
    margin: 20px 40px 0px 40px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 150px);
   }
   .mural__titulo{
    font-size: 1.8rem;
   }


}