@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

:root {
  --bgcolor: #EBEBEB;
  --vermelhoescuro:#950303 ;
  --vermelhoclaro:#c91212;;
}

body {
	background-color: var(--bgcolor);
}


html, body {
  overflow-x: hidden;
 }

a{
  text-decoration: none;
}

header {
  background-image: linear-gradient(to right, #df1717,#af1d1d, #a32525);
  box-shadow: 0px 3px 10px #464646;
}

.icon{
  width: 20px;
}

.nav-bar {
    padding: 20px 0px 20px 0px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    align-content: center;
    
  }

.logo {
    display: flex;
    align-items: center;
    gap: 15px;
}

.logo img {
  width: 85px;
 }

.logo h1 {
  font-size: 1.8rem;
  margin: 0;
  color: #FFFFFF;
  
 }

.nav-list {
    display: flex;
    align-items: center;
    color: white;
    font-size: 1.3rem;
}

.nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    font-size: 1.2rem;
}

.nav-item {
    margin: 0 15px;
}

.nav-link {
    text-decoration: none;
    font-size: 1rem;
    color: #fff;
    font-weight: 400;
    transition: 0.6s;
}
.nav-link:hover {
  border-bottom: 1.5px solid #FFFFFF;
}

.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
}

main{
  background-color: var(--bgcolor);
}

  
/* =====================================*/
/* Estilos para a seção de depoimentos */
/* =====================================*/
.depoimentos {
    background-color: #edebeb; 
    padding: 20px;
    text-align: center;
  }
  
  .depoimentos__titulo {
    color: red; 
    font-size: 2.5rem;
    margin-top: 30px;
  }
    
  .depoimentos__cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    gap: 50px;
    flex-wrap: wrap;
    margin: 20px 0px 50px 0px;
  }

  .cards {
    background-color: rgb(255, 255, 255);
    padding: 33px;
    width: 400px;
    height: 100%;
    box-shadow: 8px 8px  rgba(255, 0, 0, 0.772);
    display: flex;
    border-radius: 10% ;
    align-items: center;
    text-align: center;
    flex-direction: column;
    transition: 0.5s;  
}
.cards:hover{
    transform: scale(1.05);
    color: #FFFFFF;
    box-shadow: 12px 12px  rgb(255, 0, 0);
}

  .cards h3 {
    color: red; 
  }
  .cards p {
    color: #000000; 
    font-size: 1rem;
  }

.footer-card{
  margin-top: 50px;
}

  .mural {
    background-color: #EBEBEB;
    text-align: center;
}

.mural__titulo {
    color: red;
    font-size: 2.5rem;
}

.mural__imagens {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: repeat(2, 300px); 
    gap: 10px; 
    margin: 20px 300px 80px 300px;
    margin-top: 20px;
    margin-left: 300px;
    margin-right: 300px;
}

.mural__imagem {
    position: relative;
    overflow: hidden;
}

.mural__imagem img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: filter 0.5s;
}

.mural__imagem .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.5s;
}

.mural__imagem .overlay .text {
    color: white;
    font-size: 18px;
}

.mural__imagem:hover img {
    filter: blur(3px);
}

.mural__imagem:hover .overlay {
    opacity: 1;
}


footer{
  background-image: linear-gradient(to right, #df1717,#af1d1d, #a32525);
  padding: 50px 0;
  

}

.container-footer{
    max-width: 1400px;
    padding: 0 4%;
    margin: auto;
   
}
.row-footer{
    display: flex;
    
    justify-content: space-between; 

}

.list-contato{
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  color: white;
  font-size: 1.3rem;
}
.list-contato .icons{
  width: 30px;
  height: 30px;
}

.footer-col img{
  width:80px;
}

.footer-col h4{
    font-size: 1.6rem;
    color: white;
    font-weight: 500;
    position: relative;
    text-transform: uppercase;
    width: 250px;
    height: 30px;
    margin: 0;
    display: flex;
    flex-direction: row;
}


.container-logo{
  width: 350px;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.footer-col ul{
    list-style: none;
    padding: 0;
    width: 100%;  
}

.footer-col ul li{
    margin: 10px 0;
    width:100%;
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.footer-col ul li a{
    font-size: 1.2rem;
    text-transform: capitalize;
    color: white;
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;
    
}
.footer-col ul li a:hover{
    color: #cecdcd;
    padding-left: 10px;
}

.faleconosco{ 
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 300px;
}
.faleconosco h4{ 
  font-size: 1.6rem;
  color: #FFFFFF;
  text-transform: uppercase;
  padding-bottom: 20px ;
}
.faleconosco form{ 
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.faleconosco .form-faleconosco input{
    width: 100%;
    padding: 10px;
    font-size: 15px;
    outline: none;
    border: 1px solid white;
    color: rgb(255, 1, 1);
    background-color: #ffffff;
    border-radius: 10px;
}

.faleconosco .form-faleconosco input::placeholder{
    color: rgb(255, 0, 0);
}
.faleconosco .form-faleconosco button{
    width: 100%;
    margin-top: 10px;
    padding: 10px; 
    font-size: 17px;
    outline: none;
    border: none;
    cursor: pointer;
    color: #ff0000;
    border-radius: 3px;
    font-weight: bold;
    background-color: white;  
    border-radius: 10px;      
}
.linha{
  width: 75%;
  border: 1px solid #ffffff;
  margin-top: 20px;
}

  @media screen and (min-width: 1025px) and (max-width: 1200px) {

    .logo img {
      width: 85px;
     }
    
     .logo h1 {
      font-size: 1.8rem;
      margin: 0;
     }
    
     .nav-bar {
      padding: 20px 0px 20px 0px;
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-direction: row;
      align-content: center;
    }

    .cards {
      width: 600px; 
      display: flex;
     }

    .depoimentos__cards {
      gap: 50px;
      margin: 20px 0px 50px 0px;
    }
    .depoimentos__titulo{
      margin-top: 50px;
    }

    .mural__imagens {
      margin: 70px 100px;
  }
 
  }
/*========================================*/
/*========================================*/ 






@media screen and (min-width:769px) and (max-width: 1024px) {

.logo img {
  width: 80px;
 }

 .logo h1 {
  font-size: 1.6rem;
  margin: 0;
 }

 .nav-bar {
  padding: 20px 0px 20px 0px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  align-content: center;
}
  .cards {
    width: 580px;
    display: flex;
  } 
  .depoimentos__cards{
    gap: 50px;
    margin-top: 20px;
  }
  .mural__imagens {
    margin: 20px 100px 40px 100px;
  }
     
}


/*========================================*/
/*========================================*/




/*========================================*/
/*========================================*/
@media screen and (min-width: 481px) and (max-width: 768px){

  .footer-col{
    width: 70%;
    margin-bottom: 30px;
}
  .logo img {
    width: 70px;
   }
   .logo h1 {
    font-size: 1.5rem;
    margin: 0;
   }

  .nav-bar {
    padding: 10px 0px 10px 0px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    align-content: center;
}
.row-footer{
  flex-wrap: wrap;
}
.nav-item {
    display: none;
}
.login-button {
    display: none;
}
.mobile-menu-icon {
    display: block;
}
.mobile-menu-icon button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.mobile-menu ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 1rem;
    margin: 0;
    padding: 0;
    padding-bottom: 30px;
    color: #fff;
    background-image: linear-gradient(to right, #df1717,#af1d1d, #a32525);
}
.mobile-menu .nav-item {
    display: block;
    padding-top: 1.2rem;
}
.mobile-menu .login-button {
display: block;
padding: 1rem 2rem;
}

.mobile-menu .login-button button {
width: 100%;
}

.open {
display: block;
}

.cards {
width: 580px; 
display: flex;
font-size: 1rem;
}   

.depoimentos__cards {
gap: 30px;
margin-top: 10px;
}

.depoimentos__titulo {
font-size: 2rem;
}

.faleconosco{
margin-top: 0;
gap: 10px;
}
.faleconosco h4{
margin: 0;
padding-bottom: 0;
padding-top: 7px;
}
.mural__imagens {
margin: 20px 40px 40px 40px;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: repeat(2, 150px);
}
.mural__titulo{
font-size: 1.8rem;
}
.footer-col ul li {
padding: 0;
font-size: 1rem;
}
.container-logo img {
width: 50px;
position: relative;
right: 10px;
}

.footer-col ul li {
gap: 20px;
}

}

/*========================================*/
/*========================================*/





/*========================================*/
/*========================================*/
@media screen and (max-width: 480px) {

.logo img {
  width: 60px;
}
.logo h1 {
  font-size: 1.2rem;
  margin: 0;
}
.row-footer{
  flex-wrap: wrap;
}
.nav-bar {
  padding: 10px 10px 10px 10px;
}
.nav-item {
  display: none;
}
.login-button {
  display: none;
}
.mobile-menu-icon {
  display: block;  
}
.mobile-menu-icon button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.mobile-menu ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 1rem;
    margin: 0;
    padding: 0;
    padding-bottom: 30px;
    color: #fff;
    background-image: linear-gradient(to right, #df1717,#af1d1d, #a32525);
}
.mobile-menu .nav-item {
    display: block;
    padding-top: 1.2rem;
}
.mobile-menu .login-button {
    display: block;
    padding: 1rem 2rem;
}
.mobile-menu .login-button button {
    width: 100%;

}
.mobile-menu-icon {
  display: block;
  
}
.open {
    display: block;
}
  .depoimentos__cards {
    margin-top: 20px;
  }
  .depoimentos__titulo {
    font-size: 1.8rem;
    padding-top: 0;
    margin: 0;
  }

  .depoimentos__cards{
    gap: 30px;
  }

  .cards {
    width: 400px; 
    display: flex;
    font-size: 1rem;
   }

   .cards p {
   font-size: 0.8rem;
   }

   .cards h3 {
    font-size: 1.4rem;
   }

  .mural__imagens {
    margin: 20px 40px 40px 40px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 150px);
   }
   .mural__titulo{
    font-size: 1.8rem;
   }

.container-logo  {
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.container-logo img {
 width: 60px;
}
.footer-col h4 {
  width: 100%;
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-col ul{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.footer-col ul li {
  font-size: 1rem;
  gap: 10px;
  width: 70%;
  display: flex;
  padding: 0;

}

.list-contato .icons {
  width: 20px;
  height: 20px;
}

.container-footer {
  padding: 0 30px;
}

.faleconosco h4{
font-size: 1.3rem;
text-align: center;
}
.row-footer{
  justify-content: center;
  align-items: center;
}

.footer-col {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  align-items: center;
}
}