

/*
#scrollToTopButton {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 16px;
    
}
*/
body {
    font-family: Arial, sans-serif;
}

.container-galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: aqua;
    width: 100%;
}

.column-galeria {
    margin: 10px;
    
    max-width: 500px; /* Largura máxima das colunas */
    text-align: center;
}

.column-galeria img {
    max-width: 100%;
    height: 400px;
    width: 100%; /* Garante que as imagens preencham as colunas */
}



